/*Reset da página*/
*{
    margin: 0px;
    padding: 0px;
}

/*Importação da fonte*/
@font-face {
    font-family: coolvetica;
    src: url(../fonts/coolvetica\ condensed\ rg.otf);
}

/*Variáveis de CSS*/
:root{
    --fonte: coolvetica;
    --cor1: #6394cf;
    --cor2: #000;
    --cor3: #fff;
    --cor4: #dfdddd;
}

/*Corpo da página*/
body{
    background-color: var(--cor4);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    clear: both;
}

/*Cabeçalho*/
#cabecalho{
    background-color: var(--cor1);
    padding: 10px;
}

/*Logo*/
#cabecalho > img{
    display: block;
    margin: 5px auto;
}

/*Menu*/
#menu{
    text-align: center;
    padding: 12px;
    display: flex;
    justify-content: space-around;
    background-color: var(--cor1);
}

/*Links do menu*/
#menu > a{
    margin: 0px 10px;
    text-decoration: none;
    color: var(--cor2);
    padding: 5px;
}

/*Animação dos links*/
#menu > a:hover{
    background-color: var(--cor4);
    padding: 2px 5px;
    text-decoration: underline;
}

/*Área principal*/
#principal{
    max-width: 920px;
    background-color: var(--cor3);
    margin: 15px auto;
    border-radius: 20px;
}

/*Seção de autoria*/
#autoria{
    font-weight: bold;
    font-size: 0.8em;
    margin: 15px 0px;
    background-color: var(--cor4);
    padding: 10px;
}

.direito{
    float: right;
    clear: both;
}

.direito > a{
    color: var(--cor1);
    text-decoration: none;
}

.direito > a:hover{
    text-decoration: underline;
}

/*Imagens de conteúdo*/
.secao-imagem > img{
    display: block;
    margin: 10px auto;
    width: 100%;
    border-radius: 15px;
    box-shadow: 0px 0px 10px var(--cor2);
}

.secao-imagem > figcaption{
    text-align: center;
    font-weight: bold;
    margin-bottom: 10px;
}

/*Ícone github*/
.github-icon > img{
    width: 90%;
    display: block;
    margin: 10px auto;
}

.github-icon figcaption{
    text-align: center;
    
}

.github-icon > figcaption a{
    text-decoration: none;
    color: var(--cor1);
}

/*Conteúdo*/
.conteudo{
    padding: 10px;
}

/*Título*/
.conteudo > h1, #conteudo-secundario > h1{
    font-family: var(--fonte);
    font-size: 2.3em;
    margin: 10px 0px;
}

/*Subtítulo*/
.conteudo > h2{
    font-family: var(--fonte);
    font-size: 1.8em;
    margin: 10px 0px;
    padding: 10px;
}

/*Parágrafos*/
.conteudo > p, #conteudo-secundario > p{
    text-align: justify;
    margin: 15px 0px;
}

/*Link externo*/
p > a{
    color: var(--cor1);
    font-weight: bold;
    text-decoration: none;
}

p > a:hover{
    text-decoration: underline;
}

/*Vídeos*/
.video {
    position: relative;
    padding-bottom: 56.25%; 
    padding-top: 20px;
    height: 0;
    margin:0 auto;
}

.video iframe{
    display: block;
    margin: 10px auto;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

/*Conteúdo extra*/
#conteudo-secundario{
    padding: 20px;
}

.quadro{
    display: inline;
    margin: auto;
}

.quadro > a{
    text-decoration: none;
}

.quadro > a > img{
    margin: 10px;
    width: 30%;
}

/*Rodapé*/
#rodape{
    background-color: var(--cor1);
    padding: 7px;
}

#rodape > p{
    text-align: center;
    font-family: var(--fonte);
    font-size: 1.8em;
}

/*Tablets*/
@media (max-width: 720px) {
    main{
        max-width: 720px;
    }

    .quadro{
        display: block;
        margin: auto;
    }

    .quadro > a > img{
        margin: 10px auto;
        width: 50%;
        
    }
}

@media (max-width: 600px){
    main{
        max-width: 600px;
        padding: 20px;
        background-color: var(--cor3);
    }

    .quadro{
        display:flex;
        justify-content: space-around;
        background-color: var(--cor4);
        padding: 10px;
    }

    .quadro > a > img{
        width: 100%;
    }

    /*Título*/
    .conteudo > h1, #conteudo-secundario > h1{
        font-family: var(--fonte);
        font-size: 2.3em;
        margin: 10px 0px;
        text-align: center;
    }

    /*Subtítulo*/
    .conteudo > h2{
        font-family: var(--fonte);
        font-size: 1.8em;
        margin: 10px 0px;
        padding: 10px;
        text-align: center;
    }

    /*Seção de autoria*/
    #autoria{
        font-weight: bold;
        font-size: 0.8em;
        margin: 15px 0px;
        background-color: var(--cor4);
        padding: 10px;
        height: 40px;
    }

    .esquerdo{
        
        margin-bottom: 7px;
    }
    
    .direito{
        clear: both;
        margin: auto;
    }

    .direito > a{
        color: var(--cor1);
        text-decoration: none;
    }

    .direito > a:hover{
        text-decoration: underline;
    }

}

